<table>
    <tbody>
        {{#each comment}}
            <tr>
                <td>
                    <p>{{this.data}}</p>>
                </td>
                <td>
                    <p>{{this.timestamp}}</p>>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>